services:
  app_proxy:
    environment:
      APP_HOST: franco-waha_web_1
      APP_PORT: 3000

  web:
    image: devlikeapro/waha:noweb-arm-2026.1.3@sha256:4f8c5172432c81d2c1908e1d00264b2518e286154cba99eb9d958609dc7caea4
    restart: on-failure
    user: "0:0"
    environment:
      WAHA_API_KEY: "sha512:7fb00ac30378f6d4f8deed2b928b185d95d2e84c5ab4a1498fefa10aa1ded056a1546440a4c409dcada3e0dc51b73d9ff3badbff8e7e38e2980ad965e258ced5"
    volumes:
      - ${APP_DATA_DIR}/data/sessions:/app/.sessions
      - ${APP_DATA_DIR}/data/media:/app/.media
